body {
    font-family: "GothamPro";
    font-size: 1 rem;
	color: #161919;
}

@font-face {
    font-family: 'GothamPro';
    src: url("../fonts/gothampro.eot");
    src: url('../fonts/gothampro.eot?#iefix') format('embedded-opentype'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg#GothamPro') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothampro-bold.eot');
    src: url('../fonts/gothampro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gothampro-bold.woff') format('woff'), url('../fonts/gothampro-bold.ttf') format('truetype'), url('../fonts/gothampro-bold.svg#GothamPro') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothampro-light.eot');
    src: url('../fonts/gothampro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/gothampro-light.woff') format('woff'), url('../fonts/gothampro-light.ttf') format('truetype'), url('../fonts/gothampro-light.svg#GothamPro') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothampro-medium.eot');
    src: url('../fonts/gothampro-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gothampro-medium.woff') format('woff'), url('../fonts/gothampro-medium.ttf') format('truetype'), url('../fonts/gothampro-medium.svg#GothamPro') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothampro-black.eot');
    src: url('../fonts/gothampro-black.eot?#iefix') format('embedded-opentype'), url('../fonts/gothampro-black.woff') format('woff'), url('../fonts/gothampro-black.ttf') format('truetype'), url('../fonts/gothampro-black.svg#GothamPro') format('svg');
    font-weight: 800;
}

.container-fluid {
    padding: 0;
}

.padding-none{
	padding: 0;
}


/* header */

header{
    background-image:url(../images/bg-header.png);
    background-size: cover;
    color: #fff;
}

header strong {
    font-weight: 800;
    font-size: 2.125rem;
}

header p{
    font-weight: 400;
    font-size: 1.3125rem;
    text-transform: uppercase;
	text-decoration: underline;
}

.nav-link{
	padding: 1rem 0 0 0;
}

header a{
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

header a:hover{
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

header .logo{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%
}

header .navigation {
	padding-top: 8%;
	padding-bottom: 10%;
	padding-left: 5%;
	padding-right: 5%
}

header h3{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.75rem;
	background-color: #fff;
	color: #161919;
	margin-top: 5%;
	padding: 8px 0;
}

/* business-under-brand */

.business-under-brand{
    background-image:url(../images/bg-business.png);
    background-size: cover;
}

.business-under-brand h2{
	font-weight: 400;
	font-size: 5rem;
	text-transform: uppercase;
	padding-top: 5%;
}

.business-under-brand h2 span{
	color: #ff0000;
	font-weight: 700;
}

.bg-white{
	background-color: #fff;
}

.business-under-brand p:first-of-type{
	padding-top: 3%;
}

.business-under-brand p{
	font-size:2.125rem;
	text-transform: uppercase;
}

.business-under-brand p span{
	font-weight: 700;
}

.dynamics-of-discovery {
	padding-top: 3%;
}

.advantages{
	padding-top: 5%;
}

.red-color {
    background-color: #ff0000;
}

.black-color{
	background-color: #000000;
}

.grey-color {
	background-color: #e0e0e0;
}

@media (min-width: 576px) {

	.business-under-brand h2{
		font-size: 3rem;
	}

	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 1rem;
	}

	.advantages .red-color p span{
		font-size: 2.5rem;
	}

	.advantages .cities{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .countries{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 1.0625rem;
		padding: 0.8125rem;
	}

	.advantages .grey-color p span{
		font-size: 2rem;
	}

}

@media (min-width: 768px) {

	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 21px;
	}

	.advantages .red-color p span{
		font-size: 52px;
	}

	.advantages .cities{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .countries{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 17px;
		padding: 27px;
	}

	.advantages .grey-color p span{
		font-size: 41px;
	}

}

@media (min-width: 992px) {

	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 21px;
	}

	.advantages .red-color p span{
		font-size: 65px;
	}

	.advantages .cities{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .countries{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 27px;
		padding: 27px;
	}

	.advantages .grey-color p span{
		font-size: 59px;
	}
}

@media (min-width: 1200px) {
	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 36px;
	}

	.advantages .red-color p span{
		font-size: 72px;
	}

	.advantages .cities{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .countries{
		line-height: 40px;
	    padding-top: 10% !important;
		font-size: 30px !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 33.5px;
		padding: 27px;
	}

	.advantages .grey-color p span{
		font-size: 72px;
	}
 
}

.advantages .countries-list{
	padding-top: 10%;
}



.advantages .black-color {
	padding: 23%;
	padding-bottom: 26%;
	padding-top: 26%;
}


.underline {
	text-decoration: underline;
}

/* video */

.video {
	background-color: #000000;
}

.video h2{
	font-weight: 400;
	font-size: 3rem;
	text-transform: uppercase;
	padding-top: 8%;
	padding-bottom: 3%;
	color: #ffffff;
}

.video h2 span{
	font-weight: 700;
}

.video .btn {
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.625rem;
	margin-top: 3%;	
	margin-bottom: 16%;
	padding: 5px 15px;
}

/* reasons */

.square-block{
    position: absolute;
    top: -65px;
    left: 17px;
    padding: 145px 227px;
    border: 10px solid red;
    z-index: 1;
}

.reasons h2{
	font-weight: 700;
    font-size: 2.625rem;
    margin: 0;
    line-height: 2.5rem;
    padding-left: 17%;
    padding-top: 8%;
}

.reasons h2 span{
	font-weight: 400;
	font-size: 2.3125rem;
}

.reasons h2 strong{
	font-weight: 700;
	font-size: 2.5625rem;
}

.reasons h4{
	text-transform: uppercase;
	font-size: 2.25rem;
	font-weight: 700;
	margin: 0;
}

.reasons-padding{
	padding-top: 3%;
}

.padding{
	padding-top: 5%;
}

.reasons p{
	font-variant: small-caps;
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.bg-picture-2 {
    background-image:url(../images/reasons-brand.png);
    background-size: cover;
	min-height: 538px;
}

.bg-picture-4 {
    background-image:url(../images/reasons-investment.png);
    background-size: cover;
	min-height: 538px;
}

.bg-picture-6 {
    background-image:url(../images/reasons-support.png);
    background-size: cover;
	min-height: 538px;
}

.reasons-pictures {
	padding: 10%;
}

.secret {
	padding-top: 10%;
}

.atmosphere{
	padding-top: 20%;
	padding-bottom: 7%;
}

/* hot-offers */

.hot-offers{
    background-image:url(../images/bg-business.png);
    background-size: cover;
}

.hot-offers h2{
    font-size: 3.75rem;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 5%;
}

.hot-offers p{
	font-variant: small-caps;
	font-size: 1.875rem;
	padding-top: 2%;
}

.hot-offers p strong {
	color: #ff0000;
	font-weight: 700;
}

.hot-offers td{
	font-size: 2.8125rem;
	padding-left: 3%;
}

.hot-offers thead td{
	background-color: #c40009;
	color: #ffffff;
}

.hot-offers thead td:first-of-type{
	border-right: 4px solid #ffffff;
}

.table-dark-grey{
	background-color: #96969a !important;
	color: #ffffff;
}

.table-dark-grey td:first-of-type{
	border-right: 4px solid #ffffff;
}

.table-grey {
	background-color: #ecedee;
	color: #000000;
}

.table-grey td:first-of-type{
	border-right: 4px solid #ffffff;
}

.hot-offers .btn {
	color: #ffffff;
	background-color: #ff0000;
	text-transform: uppercase;
	font-size: 1.875rem;
	margin-top: 3%;	
	margin-bottom: 5%;
	padding: 5px 15px;
}

/* formats */

.formats h2{
	font-weight: 700;
	font-size: 6.25rem;
	line-height: 4.375rem;
	text-transform: uppercase;
	border: 10px solid #ff0000;
	padding: 50px;
    padding-top: 65px;
}

.formats h2 span{
	font-weight: 400;
	font-size: 3.8125rem;
}

.formats .row:first-of-type h3{
	font-weight: 700;
	font-size: 4.5rem;
	padding: 10% 0;
}

.formats p{
	font-size: 3.75rem;
	line-height: 5rem;
	padding: 5% 0;
}

.formats p span{
	font-weight: 700;
}

.formats .row:first-of-type img:first-of-type{
	padding-top: 30%;
	padding-bottom: 15%;
}

hr{
	border-top: 5px solid #000000;
	margin-top: 4rem;
}

.formats h3{
	font-weight: 700;
	font-size: 4.5rem;
	padding-bottom: 10%;
}

.red-rectangle{
	padding-top:20% !important;
	padding-bottom: 5% !important;
}

.formats img:first-of-type{
	padding-top: 10%;
	padding-bottom: 15%;
}

/* success-stories */

.square-success-block{
    position: absolute;
    top: 10px;
    left: 16px;
    padding: 145px 252px;
    border: 10px solid red;
    z-index: 1;
}

.success-stories{
	padding-top: 5%;
}

.success-stories h2{
	font-weight: 400;
	font-size: 4.3125rem;
	line-height: 5rem;
	text-transform: uppercase;
	padding: 33px;
    padding-top: 65px;
}

.success-stories h2 span{
	font-weight: 700;
	font-size: 5rem;
}

.success-stories p{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
}

.success-stories p span{
	color: #7f7e83;
}

.back {
	padding-right: 10%;
	padding-top: 5%;
}

.back img{
	padding-bottom: 8px;
}

.back span{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	color: #7f7e83;
}

.forward span{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	color: #ff0101;
}

.forward img{
	padding-bottom: 8px;
}

.success-stories .description{
	padding-left: 3%;
	padding-top: 5%;
}

.btns-navigation{
	padding-top: 3%;
	padding-bottom: 5%;
}

.success-stories a:hover{
text-decoration: none;
}

/* footer */

footer{
    background-image:url(../images/bg-header.png);
    background-size: cover;
    color: #fff;
}

footer strong {
    font-weight: 800;
    font-size: 2.125rem;
}

footer p{
    font-weight: 400;
    font-size: 1.3125rem;
    text-transform: uppercase;
	text-decoration: underline;
}

footer a{
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

footer a:hover{
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

footer .logo{
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%
}

footer h2{
	font-weight: 700;
	font-size: 7.5rem;
	text-transform: uppercase;
	padding: 5% 0;
}

footer h3{
	font-weight: 400;
	font-size: 3rem;
	text-transform: uppercase;
	padding-bottom: 3%;
}

footer .btn {
	color: #ffffff;
	background-color: #ff0000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.625rem;	
	margin-bottom: 8%;
	padding: 15px 40px;
}

.square-rotation-45 {
 	position: absolute;
    width: 35px;
    height: 35px;
    top: 28px;
    left: -17px;
    background: red;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
    
@media (max-width: 767px) {
	.square-rotation-45 {
	 	position: absolute;
	    width: 25px;
	    height: 25px;
	    top: 20px;
	    left: -11px;
	    background: red;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	
}


#btnToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red;
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
}

#btnToTop:hover {
    background-color: #555; 
}

@media (min-width: 386px) and (max-width: 766px) { 

	nav{
		padding-bottom: 15%;
	}

	.business-under-brand h2{
		font-size: 3rem;
	}

	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 0.8rem;
	}

	.advantages .red-color p span{
		font-size: 2.4rem;
	}

	.advantages .cities{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .countries{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 0.6rem;
		padding: 0.53rem;
	}

	.advantages .grey-color p span{
		font-size: 2rem;
	}

	.video .btn{
		font-size: 1.625rem;
	}

	.atmosphere {
	    padding-top: 28%;
	    padding-bottom: 0%;
	}

	.atmosphere img{
		padding: 10%;
	}

	.demand img{
		padding: 10%;
	}

	.square-block{
	    top: -25px;
	    left: 31px;
	    padding: 115px 180px;
	}

	.hot-offers h2{
		font-size: 2.75rem;
	}

	.hot-offers td{
		font-size: 1.4rem;
	}

	.hot-offers .btn{
		font-size: 1.03rem;
	}

	.formats h2{
		font-size: 5rem;
		padding: 65px 0 45px;
	}

	.formats h2 span{
		font-size: 3.3rem;
	}

	.formats .row:first-of-type h3 {
	    font-size: 3.5rem;
	}

	.formats h3{
		font-size: 3.5rem;
	}

	.formats p {
	    font-size: 1.74rem;
	    line-height: 2.5rem;
	    padding: 5% 0;
	}

	.success-stories h2{
		font-size: 3.3125rem;
		padding: 57px 47px 70px;
	}

	.success-stories h2 span {
	    font-size: 4rem;
	}

	.square-success-block{
		position: absolute;
	    top: 10px;
	    left: 16px;
	    padding: 114px 179px;
	    border: 10px solid red;
	    z-index: 1;
	}

	footer h2{
		font-size: 3.5rem;
	}
	footer .btn{
		font-size: 1.5rem;
	}
}


@media (max-width: 767px) { 
	
	nav{
		padding-bottom: 15%;
	}

	.logo .text-right { 
		text-align: center !important;
	}

	.logo .text-left { 
		text-align: center !important;
	}

	.formats h2{
		font-size: 5rem;
		padding: 65px 0 45px;
	}

	.formats h2 span{
		font-size: 3.3rem;
	}

	.formats .row:first-of-type h3 {
	    font-size: 3.5rem;
	}

	.formats h3{
		font-size: 3.5rem;
	}

	.formats p {
	    font-size: 1.74rem;
	    line-height: 2.5rem;
	    padding: 5% 0;
	}

	.hot-offers td{
		font-size: 1.4rem;
	}

	.hot-offers .btn{
		font-size: 1rem;
	}

	footer h2{
		font-size: 3.5rem;
	}
	footer .btn{
		font-size: 1.5rem;
	}

}

@media (max-width: 385px) {

	nav{
		padding-bottom: 15%;
	}

	.business-under-brand h2{
		font-size: 3rem;
	}

	.advantages .red-color p{
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 1rem;
	}

	.advantages .red-color p span{
		font-size: 2.4rem;
	}

	.advantages .cities{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .countries{
		line-height: 2.5rem;
	    padding-top: 10% !important;
		font-size: 1.875rem !important;
	}

	.advantages .grey-color p{
		margin: 0;
		color: #000000;
		font-weight: 700;
		font-size: 0.6rem;
		padding: 0.53rem;
	}

	.advantages .grey-color p span{
		font-size: 2rem;
	}

	.video .btn{
		font-size: 1.625rem;
	}

	.atmosphere {
	    padding-top: 28%;
	    padding-bottom: 0%;
	}

	.atmosphere img{
		padding: 10%;
	}

	.demand img{
		padding: 10%;
	}

	.square-block{
	    top: -25px;
	    left: 31px;
	    padding: 145px 126px;
	}

	.hot-offers h2{
		font-size: 2rem;
	}

	.hot-offers td{
		font-size: 1.4rem;
	}

	.hot-offers .btn{
		font-size: 0.75rem;
	}

	.formats h2{
		font-size: 4.2rem;
		padding: 65px 0 45px;
	}

	.formats h2 span{
		font-size: 2.7rem;
	}

	.formats .row:first-of-type h3 {
	    font-size: 3.5rem;
	}

	.formats h3{
		font-size: 3.5rem;
	}

	.formats p {
	    font-size: 1.74rem;
	    line-height: 2.5rem;
	    padding: 5% 0;
	}

	.success-stories h2{
		font-size: 2.5rem;
		padding: 57px 47px 70px;
	}

	.success-stories h2 span {
	    font-size: 3rem;
	}

	.success-stories p{
		font-size: 0.75rem;
		padding-left: 3%;
	}

	.square-success-block{
		position: absolute;
	    top: 10px;
	    left: 16px;
	    padding: 114px 134px;
	    border: 10px solid red;
	    z-index: 1;
	}

	footer h2{
		font-size: 2.5rem;
	}

	footer h3{
		font-size: 2.2rem;
	}

	footer .btn{
		font-size: 1rem;
	}

}






